.centra {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.telefono {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  align-items: center;     /* centra verticalmente */
}

